*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light: #EEEEEE;
    --dark: #222831;
    --blue: #4f8a8b;
    --yellow: #fbd46d
}

body {
    color: var(--dark);
    background-color: var(--light);
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.html {
    font-size: 10px;
}

img {
    width: 100%;
    max-width: 100%;
}

p {
    font-size: 1rem;
}

.container {
    padding: 1.5rem 2.5rem;
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    position: relative;
    padding: 1.5rem 2.5rem;
    margin-bottom: 2rem;
}

.fa-times {
    display: none;
}

.menu-togglers {
    cursor: pointer;
    color: var(--dark);
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 1500;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.open .fa-times {
    display: block;
    color: var(--light);
}

.open .fa-grip-lines {
    display: none;
}

.nav-list {
    z-index: 1300;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    width: 80vw;
    height: 100vh;
    background-color: var(--dark);
    padding: 4rem 2.5rem;
    display: flex;
    transform: translateX(-100%);
    flex-direction: column;
    text-transform: uppercase;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.open .nav-list {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.open .fa-times {
    display: block;
    color: var(--dark);
}

.nav-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.open .nav-list::before {
    opacity: 1;
}

.nav-link a {
    color: var(--light);
    letter-spacing: 3px;
    margin-right: -3px;
}

.nav-link a:hover {
    color: var(--blue);
}

.nav-link {
    margin-bottom: 4.5rem;
    z-index: 1250;
    border: 2px solid var(--light);
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.home {
    height: 100%;
    border: 3px solid var(--dark);
    border-radius: 1rem;
    padding: 2.5rem 0;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.home img {
    align-items: center;
    justify-self: center;
    border: 3px solid var(--dark);
    margin: 1rem auto;
    width: 60%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.container .home {
    align-items: center;
    justify-content: center;
}

.heading h4 {
    margin: .4rem 0;
}

.heading {
    margin: 0 auto;
}

.name-home {
    background-color: var(--blue);
    font-size: 1.5rem;
}

.heading p {
    line-height: 1.4;
    margin-bottom: .7rem;
}

.home a {
    letter-spacing: 2px;
    margin-right: -2px;
    margin: 1rem auto 1rem auto;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 2px var(--dark);
    padding: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    color: var(--dark);
    font-size: .7rem;
}

.home a:hover,
.home a:focus {
    background-color: var(--yellow);
    color: var(--dark);
}

.kanye {
    padding: 2.5rem 1.5rem;
    border: 3px solid var(--dark);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.kanye .title {
    margin-bottom: 1rem;
    font-size: 1.05rem;
}

.kanye .content {
    margin-bottom: 1.1rem;
    font-size: 1.1rem;
    background-color: var(--yellow);
    box-sizing: content-box;
}

.kanye a {
    letter-spacing: 2px;
    margin-right: -2px;
    margin: 2rem auto 1rem auto;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 2px var(--dark);
    padding: .5rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    color: var(--dark);
    font-size: .7rem;
}

.kanye a:hover {
    background-color: var(--blue);
}

.kanye tt {
    display: flex;
    line-height: 1.5;
}

.icons {
    padding: 1rem 3.5rem;
    border: 3px solid var(--dark);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icons i {
    color: var(--dark);
}

.icons i:hover {
    color: var(--blue);
}

.about-me {
    border: 3px solid var(--dark);
    padding: 1.6rem 1.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.about-me h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.about-me p {
    line-height: 1.5;
}

.skill-icons {
    display: flex;
    justify-content: space-between;
}

.skill-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hide {
    display: none;
}

.skill-item:hover {
    color: var(--blue);
}

.skill-item span {
    margin-top: .6rem;
}

.school {
    background-color: var(--yellow);
}

.footer {
    border: 3px solid var(--dark);
    padding: 1rem 0;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-align: center;
    font-size: .7rem;
}

.contact-form {
    position: relative;
    border: 3px solid var(--dark);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    align-items: center;
    display: flex;
    padding: 2rem 2rem;
}

.contact h4 {
    margin-bottom: 1rem;
}

.contact-form input {
    border: 3px solid var(--dark);
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: var(--light);
    color: black;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    outline: none;
}

.contact-form input:focus {
    background-color: var(--yellow);
}

.contact-item {
    position: relative;
}

.contact-item input {
    width: 70vw;
    min-width: 100%;
}

.far {
    position: absolute;
    right: 1rem;
    top: 25%;
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
}

.contact-form a {
    padding: .5rem;
    font-size: .8rem;
    margin-top: .4rem;
    border: 2px solid var(--dark);
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    background-color: var(--dark);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.contact span {
    background-color: var(--yellow);
}

.contact-form a:hover,
.contact-form a:focus {
    background-color: var(--blue);
    color: var(--dark);
}

.project-intro {
    margin-bottom: 1rem;
}

.project-title {
    margin-bottom: 1rem;
}

.project-img {
    margin-bottom: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.project-item {
    border: 3px solid var(--dark);
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    -webkit-border-radius: 1rme;
    -moz-border-radius: 1rme;
    -ms-border-radius: 1rme;
    -o-border-radius: 1rme;
}

.project p {
    line-height: 1.4;
}

.project-link {
    background-color: var(--yellow);
}

.project i {
    font-size: 1.4rem;
}

.show-big {
    display: none;
}

@media screen and (max-width: 415px) {
    .skill-item i {
        font-size: 2rem;
    }
    .contact-form {
        padding: 5rem 1rem;
    }
    .contact-form input {
        border: 1px solid var(--dark);
        padding: .5rem;
        font-size: 1.4rem;
    }
    .contact .icons {
        padding: .5rem;
    }
    .icons {
        padding: 1rem;
    }
    .about-me h3 {
        font-size: 1.2rem;
    }
    .about-me p {
        font-size: .9rem;
    }
    .icons i {
        font-size: 1.5rem;
    }
    .skill-icons i {
        font-size: 1.4rem;
    }
    .mongo {
        font-size: .5rem;
    }
    .far {
        position: absolute;
        align-items: center;
        right: 1rem;
        top: 17%;
        transform: translateY(-25%);
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
    }
    .kanye .title {
        font-size: .9rem;
    }
    .kanye .a {
        font-size: .8rem;
    }
    .footer {
        padding: .6rem;
    }
    .footer p {
        font-size: .7rem;
    }
    .contact-form {
        padding: .5rem;
    }
    .contact-form a {
        padding: .3rem;
        font-size: .2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .contact-item input {
        border: 2px solid var(--dark);
        padding: .3rem;
        width: 67vw;
    }
}

@media screen and (min-width: 900px) {
    section {
        padding: 0 5rem;
    }
    .menu-togglers {
        display: none;
    }
    .nav {
        padding: 1.5rem 5rem;
        justify-content: space-between;
    }
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        margin: 0;
        flex-direction: row;
        transform: initial;
        transition: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        -ms-transform: initial;
        -o-transform: initial;
        -webkit-transition: initial;
        -moz-transition: initial;
        -ms-transition: initial;
        -o-transition: initial;
    }
    .nav-list::before {
        display: none;
    }
    .nav-link {
        margin: 0;
        display: flex;
        margin-right: 1rem;
        font-size: .8rem;
    }
    .nav-link a {
        color: var(--dark);
    }
    .home {
        padding: 2rem 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .home>div {
        flex: 1;
    }
    .heading {
        padding: 1rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    .home img {
        margin: 1ren;
        width: 90%;
    }
    .kanye .title {
        font-size: 1.2rem;
        font-weight: 100;
    }
    .kanye .content {
        font-size: 1.5rem;
    }
    .hide {
        display: inline;
    }
}

@media screen and (min-width: 1100px) {
    section {
        padding: 0 6rem;
    }
    .nav-link {
        font-size: .9rem;
    }
    .home img {
        width: 75%;
    }
    .heading h4 {
        font-size: 1.7rem;
        font-size: 100;
    }
    .heading p {
        font-size: 1.3rem;
    }
    .name-home {
        font-size: 2.2rem;
    }
    .kanye .title {
        font-size: 1.6rem;
    }
    .kanye .content {
        font-size: 1.4rem;
    }
    .icons {
        font-size: 1.4rem;
    }
    .project-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .hide-sm {
        display: none;
    }
    .show-big {
        display: inline-block;
    }
    .project-intro {
        display: inline;
        font-size: 1.5rem;
        color: var(--blue);
    }
    .projects {
        margin-top: 1rem;
    }
    .project-title h4 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .project-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2rem;
    }
    .project-desc p {
        font-size: 1.3rem;
    }
    .contact-form input {
        border: 1px solid var(--dark);
    }
    .hide {
        display: inline;
    }
}